body {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fs1.picswalls.com%2Fwallpapers%2F2014%2F01%2F22%2Fbest-black-wallpaper_052244_13.jpg&f=1&nofb=1&ipt=ad9dfa8e6de4e167a144a5e4ff1329c064e9c1b48ea8aa3098cbdebd6eb80f22&ipo=images");
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    color: white;
    text-align: center;
}

p{
    color: white;
    text-align: center;
    font-size: 15px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 27px;
    grid-row-gap: 12px;
    justify-content: center;
    text-align: center;
}

.parent > div {
    background-color: rgba(85, 85, 85, 0.473);
    margin: 30px;
    padding: 20px;
    font-family: Helvetica,sans-serif;
    font-size: 20px;
}

.gateau{
    height: 35px;
    width: 35px;

}


    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 1 / 4 / 2 / 5; }
    .div5 { grid-area: 2 / 1 / 3 / 2; }
    .div6 { grid-area: 2 / 2 / 3 / 3; }
    .div7 { grid-area: 2 / 3 / 3 / 4; }
    .div8 { grid-area: 2 / 4 / 3 / 5; }
    .div9 { grid-area: 3 / 1 / 4 / 2; }
    .div10 { grid-area: 3 / 2 / 4 / 3; }
    .div11 { grid-area: 3 / 3 / 4 / 4; }
    .div12 { grid-area: 3 / 4 / 4 / 5; }
    .div13 { grid-area: 4 / 1 / 5 / 2; }
    .div14 { grid-area: 4 / 2 / 5 / 3; }
    .div15 { grid-area: 4 / 3 / 5 / 4; }
    .div16 { grid-area: 4 / 4 / 5 / 5; }